body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 120px auto;
    background: #fff;
    padding: 30px;
    padding-right: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form input, form textarea, form button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #6A5ACD;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5946c0;
}

#mensagem-sucesso {
    color: green;
    text-align: center;
    margin-top: 10px;
}