body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8a2be2;
}

#sub-titulo {
    color: #1e90ff;
}

#sub-titulo-II {
    color: #00c9a7;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

#exemplo {
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-input-btn-img {
    display: flex;
    align-items: center;
    gap: 30px;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

button {
    width: 80px;
    height: 50px;
    background-color: #8a2be2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #5d1f99 ;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00c9a7;
    color: white;
    text-align: center;
    padding: 10px;
}